.modalBackdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 50%;
  max-height: 50%; */
  overflow: hidden;
  display: flex;
}

.modalContent img {
  object-fit: contain;
  border-radius: 10px;
}
